
/* Main Styles */
body {
  background-color: #ffffff;
  color: #282828;
  font-family: 'CircularStd', sans-serif;
  font-size: 16px;
  border: 1px solid white;
  /* -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 26%, 52% 63%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 26%, 52% 63%);  */
}

.bar-container {
  /* display: inline-block; */
  cursor: pointer;
  float: right;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .menu-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .menu-bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .menu-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}

.site-header {
  background-color: #f94f5b;
}

.site-header .container {
  padding: 2rem 2rem;
}

.site-navigation {
  display: none;
}

.site-navigation.open {
  background-color: #f94f5b;
  display: block;
  height: 510px;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 9;
}

/* .menu {
  display: none;
  justify-content: flex-start;
} */

.menu {
  display: flex;
  flex-direction: column;
  margin: 150px auto
} 

.menu a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.banner {
  background-color: #f94f5b;
}

.site .container { 
  padding: 1.5rem 2rem;
}


.page-header,
.skills-header {
  background-color: #f94f5b;
  margin-top: 0;
}

.page-header {
  color: #ffffff;
  padding: 1.25rem 0 3rem 0;
}

.page-header-lead {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 0.5rem 0;
}

.page-header-title {
  font-size: 3.25rem;
  font-weight: 600;
  padding-left: 5px;
}

.page-header.description {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25rem;
}

/* .page-content {
  padding: 3rem 0 3rem 0;
} */

.page-header-sublead {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0 1rem 0;
}

.page-header-sublead span {
  border-bottom: 3px solid white;
  min-width: 150px;
  display: inline-block;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.page-header-sublead.description {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.25rem;
  width: 300px;
}

.description {
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 2rem;
  padding: 0.5rem 0 0 0;

}

.page-content .container {
  padding: 1rem 0.5rem;
}

.skills-cards,
.updates-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-card {
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  max-width: 80%;
}

.skills-card:hover {
  background-color: #f94f5b;
}

.skills-card-icon {
  padding: 1rem 0;
}

.skills-card-title,
.updates-title,
.updates-card-title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.skills-card-description,
.updates-card-description {  
  color: #282828;
  font-size: 1.05rem;
  line-height: 1.5rem;
  padding: 1rem 0 2rem 0;
}

.skills-card-link {
  color: #000000;
  font-size: 1.15rem;
  font-weight: 600;
}

.updates-title {
  border-bottom: 3px solid #f94f5b;
}

.latest-updates {
  background-color: #f0f0f0;
}

.updates-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  text-align: center;
  max-width: 90%;
}

.updates-card-title {
  font-weight: 500;
  text-align: center;
}

.updates-card-description {
  font-size: 0.90rem;
  line-height: 1.25;
  font-weight: 300;
}

.updates-card-link {
  color: #4F9FF9;
  /* text-decoration: none; */
}

/* .updates-card-link:hover {
  text-decoration: default;
} */

footer {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 20px 0;
  text-align: center;
}

/*
.site .container { 
  padding: 3rem 2rem;
}


.page-header,
.skills-header {
  background-color: #f94f5b;
  margin-top: 0;
}

.page-header {
  color: #ffffff;
  padding: 2rem 0 3rem 0;
}

.page-header-lead {
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

.page-header-title {
  font-size: 5.5rem;
  font-weight: 600;
  padding-left: 5px;
}

.page-header.description {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.page-content {
  padding: 3rem 0 3rem 0;
}

.page-header-sublead {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  padding: 3rem 0 1rem 0;
}

.page-header-sublead span {
  border-bottom: 3px solid white;
  min-width: 150px;
  display: inline-block;
  margin-bottom: 8rem;
  padding-top: 1rem;
}

.page-header-sublead.description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  width: 300px;
}

.description {
  color: #ffffff;
  opacity: 0.7;
  padding: 1rem 0 0 0;
}
*/