/* Main Styles */
body {
  background-color: #ffffff;
  color: #282828;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 1px solid white;
}

.bar-container {
  cursor: pointer;
  float: right;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Source: https://www.w3schools.com/howto/howto_css_menu_icon.asp */
/* Rotate first bar */
.change .menu-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .menu-bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .menu-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.container {
  margin: 0 auto;
  max-width: 1290px;
}

.site-header {
  background-color: #f94f5b;
}

.site-header .container {
  padding: 2rem 2rem;
}

.site-navigation {
  display: none;
}

.site-navigation.open {
  background-color: #f94f5b;
  display: block;
  height: 100vh;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 9;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 140px auto;
}

.menu a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  /* padding: 10px 10px; */
  line-height: 2;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.banner {
  background-color: #f94f5b;
  height: calc(100vh - 105px);
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
}

.site .container {
  padding: 1.5rem 2rem;
}

.page-header,
.skills-header {
  background-color: #f94f5b;
  margin-top: 0;
}

.page-header {
  color: #ffffff;
  padding: 1.25rem 0 3rem 0;
}

.page-header-lead {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 0.5rem 0;
}

.page-header-title {
  font-size: 3.25rem;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 5px;
}

.description {
  opacity: 0.7;
  margin-bottom: 2rem;
}

.page-header.description {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-top: 10px;
}

.page-header-sublead {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 0 1rem 0;
}

.page-header-sublead span {
  border-bottom: 3px solid #fff;
  min-width: 150px;
  display: inline-block;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.page-header-sublead.description {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.25rem;
  opacity: 0.7;
  width: 300px;
}

.social-links a img {
  width: 35px;
  margin-left: 0.75rem;
}

.social-links a:first-child img {
  margin-left: 0;
}

.social-links a img:hover {
  transform: scale(1.1);
}

.page-content {
  margin-top: -320px;
}

.page-content .container {
  padding: 1rem 0.5rem;
}

.skills-cards,
.updates-cards,
.projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-card {
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 1rem auto;
  padding: 1rem 0.5rem 2rem 0.5rem;
  max-width: 80%;
}

.skills-card-icon {
  padding: 1rem 0;
}

.skills-card-title,
.updates-title,
.updates-card-title,
.projects-title,
.references-title,
.author-title,
.archives-title,
.social-links-title {
  /* color: #000000; */
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.skills-card-description,
.updates-card-description {
  /* color: #282828; */
  font-size: 1.05rem;
  line-height: 1.5rem;
  padding: 1rem 0 2rem 0;
}

.skills-card-link {
  color: #000000;
  font-size: 1.15rem;
  font-weight: 600;
}

.updates-title,
.projects-title,
.references-title,
.author-title,
.archives-title,
.social-links-title {
  color: #000;
  border-bottom: 3px solid #f94f5b;
}

.references {
  padding: 0 0 3rem 0;
}

blockquote {
  margin: 0 auto;
  max-width: 800px;
  padding: 4rem 0 1rem 0;
  width: 90%;
}

blockquote p {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.reference-text:before {
  content: '';
  /* animation-name: switchReferences;
  animation-duration: 16s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; */
  -webkit-animation: switchReferences 16s ease-out infinite;
  -moz-animation: switchReferences 16s ease-out infinite;
  -o-animation: switchReferences 16s ease-out infinite;
  animation: switchReferences 16s ease-out infinite;
}

.reference-author {
  font-size: 1rem;
  font-style: italic;
  padding-top: 0.5rem;
  text-align: right;
}

.reference-author:before {
  content: '';
  -webkit-animation: switchAuthors 16s ease-out infinite;
  -moz-animation: switchAuthors 16s ease-out infinite;
  -o-animation: switchAuthors 16s ease-out infinite;
  /* animation-name: switchAuthors;
  animation-duration: 16s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; */
  animation: switchAuthors 16s ease-out infinite;
}

@keyframes switchReferences {
  0% {
    content: 'I’ve had the pleasure of knowing and teaching Sal for six months, during his time at the University of Toronto Full Stack coding bootcamp. Sal proved to be one of the most committed and self-motivated students through his work. He consistently demonstrated a solid work ethic and a commitment to success. He exhibited high levels of teamwork, analytical/problem solving skills, and was a valuable contributor to team projects. Above all, I was impressed with Sal’s ability to learn complex concepts quickly and apply them to real life projects. I am confident that Sal’s technical aptitude in cutting edge web technologies combined with his commitment to improving his skills would make him a substantial addition to any engineering team.';
  }

  100% {
    content: 'Sal and I have studied and worked on multiple projects during which I noticed that he is very solution-oriented person with exceptional problem-solving skills. Being the team leader, he kept the team motivated by helping others during the project development lifecycle.He was my go-to person for advice or solution for any technical problems. He is always committed to impart knowledge to other members of the team. He is never afraid, in fact more enthusiastic to learn anything new when it comes his way to prove his mettle. I am confident that with his out of the box thinking, and outstanding skills in different programming languages and frameworks in web technologies he will be an excellent team-member in company.';
  }
}

@keyframes switchAuthors {
  0% {
    content: '~ Vishal Patel - University of Toronto Full Stack Bootcamp Lead Instructor';
  }

  100% {
    content: '~ Anas Qazi - Teammate @University of Toronto Full Stack Bootcamp';
  }
}

.latest-updates,
.latest-projects {
  background-color: #f0f0f0;
}

.updates-card,
.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.project-card a img {
  width: 100%;
}

.project-card-content {
  padding: 0.5rem 0.5rem;
}

.project-card-content h1 {
  font-size: 1.5rem;
  padding: 0.5rem 0.25rem 0;
}

.project-card-content h4 {
  font-size: 0.9rem;
  font-style: italic;
  padding: 0.5rem 0;
  opacity: 0.65;
}

.project-card-content p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 0;
  opacity: 0.85;
}

.learn-more {
  padding: 1rem 0 0.5rem 0;
}

.learn-more a:first-child img {
  padding-right: 0.75rem;
  width: 65px;
}

.learn-more a img {
  width: 23px;
}

#bitguard {
  width: 23px;
}

.updates-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.9;
  padding-top: 1.5rem;
}

.updates-card-title a {
  color: #000;
  text-decoration: none;
}

.updates-card-description {
  font-size: 0.9rem;
  line-height: 1.25;
  font-weight: 300;
}

.updates-card-link {
  color: #4f9ff9;
  text-decoration: none;
}

.updates-card a img {
  width: 100%;
}

.updates-card-link:hover {
  text-decoration: underline;
}

footer {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 20px 0;
  text-align: center;
}
