/* Responsive Styles */

/* Style for device screens larger than 398px */

@media screen and (min-width: 398px) {

  /* Change the width of the card items */
  .skills-card {
    max-width: 100%;
    width: 40%;
  }
}

@media screen and (min-width: 576px) {

  .skills-card {
    max-width: 100%;
    width: 45%;
  }

  .updates-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .updates-card {
    width: 45%;
  }
}

@media screen and (min-width: 640px) {

  .page-header {
    padding: 2rem 0 2rem 0;
  }

  .page-header-lead {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 1rem 0;
  }

  .page-header-title {
    font-size: 5.5rem;
    font-weight: 600;
    padding-left: 5px;
  }

  .description {
    margin-bottom: 1rem;
  }

  .page-header.description {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  .page-header-sublead.description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25rem;
  }

  .blog-header {
    width: 80%;
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 768px) {
  
  .skills-card {
    max-width: 100%;
    width: 23%;
  }

  .bar-container {
    display: none;
  }

  .site-navigation {
    display: block;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }

  .menu a {
    font-size: 1.25rem;
    padding: 10px 10px;
  }

  .menu a:last-of-type {
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {

  .skills-cards {
    position: relative;
    top: -150px;
    left: 25%;
    max-width: 992px;
  }

  .skills-card {
    background-color: #fff;
    width: 46%;
  }

  .latest-projects {
    position: relative;
    top: -100px;
    left: 0;
  }

  .references {
    position: relative;
    top: -100px;
    left: 0;
  }

  .latest-updates {
    position: relative;
    top: -100px;
    left: 0;
  }

  .updates-title,
  .latest-updates {
    margin: 0 auto;
  }

  .updates-title {
    margin-bottom: 2rem;
  }

  .latest-updates {
    border-radius: 10px;
  }
}