/* Main Styles */

header {
  min-height: 100px;
}

.site .container {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
}

.updates-title {
  width: 100%;
}

.blog-main {
  width: 100%;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem 0;
}

.blog-info {
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

.blog-subtitle {
  font-size: 1.15rem;
  line-height: 1.25;
  padding: 1rem 0;
}

.blog-content figure {
  padding: 2rem 0;
  width: 100%;
}

.blog-content figure figcaption {
  padding-top: 1rem;
}

.blog-content figure img {
  width: 100%;
}

.blog-content p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 1rem 0;
}

.blog-heading {
  font-size: 1.75rem;
  font-weight: 600;
}

.about-author-card {
  margin: 0 auto;
  max-width: 960px;
  padding-bottom: 2rem;
}

.author-info-box {
  padding: 0 1rem 0.5rem 1rem;
  width: 100%;
}

.author-info-box img {
  border-radius: 50%;  
  width: 40%;
  height: auto;
}

.author-info {
  padding: 1rem 0;
} 

.author-name {
  font-size: 1.25rem;
  padding: 0.25rem 0;
}

.author-position {
  font-size: 0.9rem;
  padding: 0.25rem 0;
}

.author-current-work {
  font-size: 0.75rem;
  padding: 0.25rem 0;
}

.author-bio {
  font-size: 1.25rem;
  line-height: 1.25;
  padding: 0 1rem 1rem 1rem;
}

.archives {
  display: none;
}

.archives-links {
  padding: 2rem 0;
}

.social-links-list {
  padding: 2rem 0;
}

.social-links {
  display: none;
}

.archives-links-list li,
.social-links-list li {
  padding: 0.5rem 0;
}

/* Responsive Designs */

@media screen and (min-width: 398px) {

  .author-info-box img {
    float: left;
    border-radius: 50%;  
    width: 30%;
    height: auto;
    padding: 1rem;
  }

  .author-info {
    display: inline-block;
  }
}

@media screen and (min-width: 576px) {
  .author-info-box {
    /* float: left; */
    padding: 0 1rem 0.5 1rem;
    width: 100%;
  }

  .author-info-box img {
    float: left;
    border-radius: 50%;  
    width: 25%;
    height: auto;
  }
}

@media screen and (min-width: 640px) {
  .author-info-box img {     
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .author-info-box img {     
    width: 15%;
  }
}

@media screen and (min-width: 992px) {
  
  .blog-content figure {
    width: 80%;
    margin: 0 auto;
  }

  .site .container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
    "hd hd"
    "main side"
    "other other"
    "ft ft"
  }

  .blog-main {
    grid-area: main;
  }

  .blog-content p {
    padding-right: 2rem;
  }

  .updates-header {
    grid-area: hd;
  }

  aside {
    grid-area: side;
  }

  .author-info-box {
    float: none;
    width: 100%;
  }

  .author-info-box img {
    display: block;
    padding: 0;
    padding-right: 1rem;
    width: 35%;
  }

  .author-info {
    padding-bottom: 1rem;
  }

  .archives {
    display: block;
  }

  .social-links {
    display: block;
  }

  .other-entries {
    grid-area: other;
  }

  .site-footer {
    grid-area: ft;
  }
}

@media screen and (min-width: 1200px) {
  .author-bio {
    padding-top: 3rem;
  }
}
