/* Responsive Styles */

/* Style for device screens larger than 398px */

@media screen and (min-width: 398px) {
  .site-navigation.open {
    height: 94vh;
  }
  /* Change the width of the card items */
  .skills-card {
    max-width: 100%;
    width: 40%;
  }

  .banner {
    height: 75vh;
  }

  .page-content {
    margin-top: 0px;
  }

  .reference-text {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 576px) {
  .skills-card {
    max-width: 100%;
    width: 45%;
  }

  .updates-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .updates-card {
    width: 45%;
  }
}

@media screen and (min-width: 640px) {
  .page-header {
    padding: 2rem 0 2rem 0;
  }

  .page-header-lead {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 1rem 0;
  }

  .page-header-title {
    font-size: 7.5rem;
    font-weight: 600;
    padding-left: 5px;
  }

  .description {
    margin-bottom: 1rem;
  }

  .page-header.description {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  .page-header-sublead.description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25rem;
  }

  .blog-header {
    width: 80%;
    margin: 0 auto;
  }

  .reference-text {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .skills-card {
    max-width: 100%;
    width: 23%;
  }

  .bar-container {
    display: none;
  }

  .site-navigation {
    display: block;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }

  .menu a {
    font-size: 1.25rem;
    padding: 10px 15px;
  }

  .menu a:last-of-type {
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    height: calc(100vh - 105px);
  }

  .page-content {
    margin-top: -320px;
  }

  .skills-cards {
    position: relative;
    top: -150px;
    left: 40%;
    max-width: 60%;
  }

  .skills-card {
    box-shadow: 5px 5px 32px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 5rem 2rem 5rem 2rem;
    width: 41%;
  }

  .latest-projects {
    position: relative;
    top: -100px;
    left: 0;
  }

  .projects-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-card {
    width: 48%;
  }

  .references {
    position: relative;
    top: -50px;
    left: 0;
  }

  .latest-updates {
    position: relative;
    left: 0;
  }

  .updates-title,
  .latest-updates {
    margin: 0 auto;
  }

  .updates-title {
    margin-bottom: 2rem;
  }

  .latest-updates {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1540px) {
  .skills-cards {
    max-width: 68%;
  }
}
